/* Sidebar */
.custom-offcanvas {
  width: 290px;
  top: 0;
  left: 0;
  height: 100%;
  transition: width 0.3s ease, transform 0.3s ease;
  z-index: 1040;
  overflow: hidden;
}

.hide-scrollbar {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* Mobile */
@media (max-width: 991.98px) {
  .custom-offcanvas {
    transform: translateX(-100%);
    z-index: 1050;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .custom-offcanvas.open {
    transform: translateX(0%);
    display: flex !important;
  }

  .custom-offcanvas.collapsed.d-none {
    width: 0;
    transform: translateX(-100%);
    display: none !important;
  }
}

/* Desktop */
@media (min-width: 992px) {
  .custom-offcanvas {
    position: fixed;
    display: flex !important;
  }

  .custom-offcanvas.collapsed {
    width: 80px;
  }

  .custom-offcanvas.collapsed .sidebar-text {
    display: none;
  }
}

/* Sidebar Toggle Button */
.sidebar-toggle-button {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 2rem;
  transition: left 0.3s ease;
  z-index: 1050;
}

.sidebar-open {
  left: 280px;
}

.sidebar-closed {
  left: 70px;
}

/* Rotate Icon */
.rotate-icon {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

/* Header */
.custom-offcanvas .offcanvas-header {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

/* Main Content */
.main-content-wrapper {
  transition: margin-left 0.3s ease;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content-margin {
  margin-left: 290px;
}

.main-content-collapsed {
  margin-left: 80px;
}

.main-content-no-margin {
  margin-left: 0;
}

/* Mobile Overlay */
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1049;
  display: none;
}

@media (max-width: 991.98px) {
  .sidebar-overlay.d-block {
    display: block !important;
  }
}

.dashb.active {
  color: white !important;
}

/* FOR DISABLED LINK */
.sidebar-disabled {
  color: #616060 !important; /* Brighter gray */
  opacity: 0.9;              /* Slight transparency for "disabled" look */
  cursor: not-allowed;
}

.sidebar-disabled .badge {
  background-color: #6c757d; /* Keep the badge style */
}